.sidebar {
  @extend %bg-color-cyan-900;
  //border-right: 1px solid material-color('purple', '900');
  &.closed {
    .inner {
      display: none;
    }
    position: relative;
    top: unset;
    left: unset;
    bottom: unset;
    padding: 0;
    width: unset;
    .toggle {
      right: auto;
      left: 20px;
      top: 10px;
      background-color: $colorBrandRed;
      .faicon {
        color: $colorWhite;
      }
    }
  }
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  width: 220px;
  .logo {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    display: block;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
    }
  }
  .inner {
    display: block;
    text-align: left;
    li {
      display: block;
      a {
        position: relative;
        display: block;
        padding: 15px 15px 15px 50px;
        font-size: $fz18;
        line-height: 1.2;
        color: $colorWhite;
        text-decoration: none;
        &:hover, &:focus {
          @extend %bg-color-teal-500; //%bg-color-orange-900;
        }
        &.active {
          @extend %bg-color-teal-500;
          //@extend %bg-color-teal-500;
          //@extend %color-cyan-a200;
        }
        .svg-inline--fa {
          position: absolute;
          top: 15px;
          left: 10px;
          font-size: 22px;
        }
      }
    }
  }
  .toggle {
    cursor: pointer;
    position: absolute;
    right: -60px;
    top: 10px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 2px solid $colorBrandRed;
    @include border-radius(3px);
    &:active, &:focus {
      outline: none;
      border: 2px solid $colorBrandRed;
    }
    background-color: $colorWhite;
    img {
      width: 100%;
      height: auto;
    }
    .faicon {
      font-size: 22px;
      color: $colorBrandRed;
    }
  }
}