.sidebar {
  @extend %bg-color-cyan-900;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 60px 0 10px;
  width: 250px;
  &.closed {
    @extend %bg-color-cyan-900;
    width: 60px;
    .logo {
      width: 100%;
      padding: 5px;
      margin-top: 10px;
      height: 60px;

      img {
        width: 100%;
        height: auto;
      }
      &.full {
        display: none;
      }
      &.icon {
        display: block;
      }
    }
    .inner {
      li {
        a {
          padding: 10px;
          text-align: center;
        }
        .svg-inline--fa {
          position: static;
          font-size: 33px;
          top: 0;
          left: 0;
        }

        .text {
          display: none;
        }
      }
    }
    .footer {
      li {
        margin-bottom: 0;
      }
      .text {
        &.long {
          display: none;
        }
        &.short {
          display: inline;
        }
      }
    }
    .toggle {
      background-color: $colorLightBlue;
      .faicon {
        color: $colorWhite;
      }
    }
  }
  .logo {
    &.full {
      display: block;
    }
    &.icon {
      display: none;
    }
    width: 80%;
    padding: 10px;
    display: block;
    cursor: pointer;
    img {
      width: 100%;
      height: auto;
    }
  }
  .inner {
    display: block;
    text-align: left;
    li {
      display: block;
      a {
        position: relative;
        display: block;
        padding: 15px 15px 15px 50px;
        font-size: $fz18;
        line-height: 1.2;
        color: $colorWhite;
        text-decoration: none;
        &:hover, &:focus {
          @extend %bg-color-teal-500; //%bg-color-orange-900;
        }
        &.active {
          @extend %bg-color-teal-500;
          //@extend %bg-color-teal-500;
          //@extend %color-cyan-a200;
        }
        .svg-inline--fa {
          position: absolute;
          top: 12px;
          left: 10px;
          font-size: 27px;
        }
      }
    }
  }
  .toggle {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: auto;
    left: 10px;
    width: 40px;
    height: 40px;
    border: 2px solid $colorLightBlue;
    @include border-radius(3px);
    &:active, &:focus {
      outline: none;
      border: 2px solid $colorLightBlue;
    }
    background-color: $colorWhite;
    img {
      width: 100%;
      height: auto;
    }
    .faicon {
      font-size: 22px;
      color: $colorLightBlue;
    }
  }
  .footer {
    .text {
      &.long {
        display: inline;
      }
      &.short {
        display: none;
      }
    }
  }
}