$colorWhite: #fff;
$colorBlack: #000;
$coolGreen: #25ae1c;
$darkBlue: #271c6f;
$middleBlue: #218ddd;
$normalBlue: #0c95d5;
$lightBlue: #61dafb;
$grey: #e9ecef;
$oldLightGreen: #33d20c;
$oldBLue: #0b7eb4;
$oldDarkGreen: #2cb40b;
$brandRed: #de573d;
$brandBlue: #89b9da;
$brandGrey: #9c9c9c;
