$colorWhite: #fff;
$colorBlack: #000;
$colorCoolGreenDark: #07890a;
$colorCoolGreen: #2c8407; //#07a70b;
$colorDarkBlue: #271c6f;
$colorMiddleBlue: #218ddd;
$colorNormalBlue: #0c95d5;
$colorLightBlue: #61dafb;
$colorLightBlueTwo: #08f1df;
$colorLightOrangeTwo: #f1ad08;
$colorGrey: #e9ecef;
$colorOldLightGreen: #33d20c;
$colorOldBLue: #0b7eb4;
$colorOldDarkGreen: #2cb40b;
$colorBrandRed: #de573d;
$colorBrandBlue: #89b9da;
$colorBrandGrey: #9c9c9c;

$sass-material--color-teal-500: #009688;



/* ======= Font Sizes ======*/
$fz18: 18px;
$fz15: 15px;