.fullscreen {
  width: 100vw;
  height: 100vh;
  padding: 20px 20px 60px 200px;
}
.container {
  padding: 20px;
}

.sessions {
  @extend %bg-color-red-600;
}
.cattlemax {
  @extend %bg-color-yellow-600;
}
.tags {
  @extend %bg-color-orange-600;
}
.scales {
  @extend %bg-color-green-600;
}
.settings {
  @extend %bg-color-yellow-600;
}
.help {
  @extend %bg-color-teal-600;
}
