.fullscreen {
  width: 100vw;
  height: 100vh;
  padding: 20px 20px 60px 200px;
}
.container {
  padding: 20px;
}

.wrapper {
  text-align: center;
}
.home {
  @extend %bg-color-lime-200;
}
.sessions {
  @extend %bg-color-red-200;
}
.cattlemax {
  @extend %bg-color-pink-200;
}
.tags {
  @extend %bg-color-purple-200;
}
.scales {
  @extend %bg-color-blue-200;
}
.settings {
  @extend %bg-color-indigo-200;
}
.help {
  @extend %bg-color-cyan-200;
}
